@import '../../../color.module.scss';
.search__page {
    transition: 1s;
    .title {
        margin: 1rem 0;
        h4 {
            color: #fff;
        }
    }
    .categories__box {
        display: flex;
        flex-flow: row wrap;
        padding: 0 1rem;
        position: relative;
        .box__link {
            flex: 1 1 200px;
            .box {
                position: relative;
                overflow: hidden;
                padding: 1rem;
                margin: .5rem;
                height: 190px;
                border-radius: .7rem;
                span {
                    color: #fff;
                    text-shadow: 2px 3px #0a0a0a91;
                    font-size: 18px;
                    font-weight: 700;
                    transition: all 0.1s ease-in;
                    &:hover {
                        font-size: 22px;
                    }
                }
                .box__poster {
                    position: absolute;
                    bottom: -10px;
                    right: 5px;
                    transform: rotate( 25deg) translate(18%, -2%);
                    img {
                        width: 100px;
                        height: 120px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .result__first {
        margin: 0 2rem;
        max-width: 400px;
        .box {
            padding: 1rem;
            position: relative;
            background: $box-black-opacity;
            transition: 250ms;
            &:hover {
                background: $colorRowInTable;
                .player__poster {
                    .player {
                        display: flex;
                        cursor: grab;
                        &:hover {
                            background: $backgroundMain;
                        }
                    }
                }
            }
            &.active {
                background: $colorRowInTable;
                .player__poster {
                    .player {
                        display: flex;
                    }
                }
            }
            .player__poster {
                position: relative;
                width: 100px;
                display: flex;
                margin-bottom: .5rem;
                img {
                    width: 100%;
                    object-fit: cover;
                    box-shadow: $crystalClearShadow;
                }
                .player {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: 250ms;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    &--icon {
                        font-size: 42px;
                        color: $logo;
                    }
                }
            }
            h3 {
                color: #fff;
                font-size: 32px;
                cursor: context-menu;
            }
            .album {
                display: flex;
                align-items: center;
                .artists {
                    color: $opacityWhite;
                    font-size: 16px;
                    a {
                        color: $opacityWhite;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .badges {
                    background: $logo;
                    padding: 0 .5rem;
                    margin-left: .5rem;
                    border-radius: .5rem;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 78%);
                    text-transform: capitalize;
                    cursor: context-menu;
                }
            }
        }
    }
    .result__tracks__list {
        margin: 0 2rem;
        button {
            display: flex;
            margin: .5rem auto;
            background: none;
            outline: none;
            color: #fff;
            border: none;
            &:hover {
                border-bottom: 1px solid #fff!important;
            }
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;
            transition: 250ms;
            cursor: grab;
            &:hover {
                background: $colorRowInTable;
                .row__left .row__poster .player {
                    display: flex;
                    background: $backgroundMain;
                }
            }
            &.active {
                background: $colorRowInTable;
                .row__left .row__poster .player {
                    display: flex;
                    background: $backgroundMain;
                }
            }
            .row__left {
                display: flex;
                align-items: center;
                .row__poster {
                    position: relative;
                    display: flex;
                    margin-right: 1rem;
                    width: 40px;
                    min-width: 40px;
                    img {
                        width: 100%;
                        object-fit: cover;
                        box-shadow: $crystalClearShadow;
                    }
                    .player {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        transition: 250ms;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            background: $backgroundMain;
                        }
                        &--icon {
                            font-size: 22px;
                            color: #fff;
                        }
                    }
                }
                .row__info {
                    display: flex;
                    flex-direction: column;
                    p {
                        color: #fff;
                        font-size: 14px;
                    }
                    .artists {
                        color: $opacityWhite;
                        font-size: 12px;
                        a {
                            color: $opacityWhite;
                            cursor: pointer;
                        }
                    }
                }
            }
            .row__right {
                span {
                    font-size: 14px;
                    color: $opacityWhite;
                }
            }
        }
    }
}

@media (max-width:545px) {
    .search__page {
        .result__first {
            max-width: 100%;
            margin: 0 1rem;
            .box {
                .album {
                    .badges {
                        font-size: 12px;
                    }
                    .artists {
                        font-size: 12px;
                    }
                }
                h3 {
                    font-size: 22px;
                }
            }
        }
        .result__tracks__list {
            margin: 0 1rem;
        }
    }
}